* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app div {
    position: absolute;
    color: #fff;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}